@import '~antd/dist/antd.css';
@import '~beautiful-react-diagrams/dist/styles.css';

.ant-card {
    cursor: pointer;
}

.bi-diagram {
    min-height: 95vh;
}
.bi.bi-diagram .bi.bi-diagram-canvas {
    min-height: 95vh;
}